@model IEnumerable<OnlineMovieTicketBooking.Models.MovieDetails>

@{
    ViewData["Title"] = "CRUD";
}

<h2 class="alert alert-info">Manage Movies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="CrudTable" class="table restable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Hall
            </th>
            <th>
                Date and Time
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Name)
            </td>
            <td>
                @await Component.InvokeAsync("HallName", item.Hall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            @{
                switch (item.Status)
                {
                    case 0:
                        <td>Cancelled</td>
                        break;
                    case 1:
                        <td>Now Playing</td>
                        break;
                    case 2:
                        <td>Stoped Playing</td>
                        break;
                }
            }
        


                        <td>
                            <a asp-action="CancelMovie" asp-route-id="@item.Id">Cancel</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="NewTime_Hall" asp-route-id="@item.Id">New Time and Hall</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
        </tr>
}
    </tbody>
</table>
