@model IEnumerable<OnlineMovieTicketBooking.Models.ViewModels.StatisticsViewModel>

@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookingsByMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingsByDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingsByYear)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingsByMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingsByDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingsByYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
